.idea/*

dist/Tilemancer
dist/Tilemancer.exe
dist/Tilemancer-debug
dist/Tilemancer-debug.exe

cmake-build-*

.DS_Store

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.icns
