.idea/*

dist/tilemancer
dist/tilemancer.exe
dist/tilemancer-debug
dist/tilemancer-debug.exe

cmake-build-*

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

